# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
coverage/
android/app/release/
android/app/build_defs.bzl
android/app/build.gradle.orig
# node.js
#
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# Ruby
/ios/Pods/
ios/Podfile.lock
/vendor/bundle/
Gemfile.lock

# ios
/ios/Pods/
/ios/Podfile.lock
ios/BreakingBadTest.xcodeproj/xcshareddata/xcschemes/BreakingBadTest.xcscheme
ios/BreakingBadTest.xcodeproj/xcshareddata/xcschemes/BreakingBadTest-tvOS.xcscheme
ios/BreakingBadTest.xcworkspace/contents.xcworkspacedata
ios/BreakingBadTest.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/BreakingBadTest-tvOS/Info.plist
ios/BreakingBadTest-tvOSTests/Info.plist
ios/BreakingBadTest.xcworkspace/
ios/BreakingBadTestTests/